openapi: 3.0.3

info:
  title: Products Catalog API
  version: "1.0.0"
  description: |
    Документація ендпоінтів для роботи з каталогом продуктів.

    **Особливості валідації:**
    * Потрібно вказати **chunkNumber** або **productExternalId**. Можна передавати лише один параметр одночасно.
    * **productExternalId** – ідентифікатор парент продукту. Використовується для отримання конкретного продукту та усіх його дочірніх записів .
    * **chunkNumber** – номер блоку (чанку) продуктів для посторінкової передачі каталогу. Всі парент продукти нумеруються через поле `Product_Number__c`, і кожен чанк містить певну кількість продуктів, що визначається налаштуванням `Catalog_Service_Settings__c.Chunk_Size__c`.  
      - **StartNumber** та **EndNumber** розраховуються автоматично для поточного чанку.  
      - **TotalChunks** показує загальну кількість чанків, доступних для повного каталогу.
    * Якщо параметр не передано або передано обидва параметри одночасно, повертається помилка.
    * Повертаються лише активні продукти.

servers:
  - url: /services/apexrest
paths:
  /mobile/catalog/{productExternalId || chunkNumber}:
    get:
      summary: Get products catalog
      parameters:
        - name: chunkNumber
          in: query
          required: false
          schema:
            type: integer
          description: |
            Chunk number for pagination.
            REQUIRED if productExternalId is not provided.

        - name: productExternalId
          in: query
          required: false
          schema:
            type: string
          description: |
            External ID of product.
            REQUIRED if chunkNumber is not provided.
      responses:
        '200':
          description: Successful response

components:
  schemas:

    ProductChunkWrapper:
      type: object
      properties:
        totalChunks:
          type: integer
        chunkNumber:
          type: integer
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'

    Product:
      type: object
      properties:
        active:
          type: boolean
        name:
          type: string
        productExternalId:
          type: string
        category:
          type: string
        productDescription:
          type: string
        productBenefits:
          type: string
        compatibility:
          type: string
        preparativeForm:
          type: string
        producingCountry:
          type: string
        transportationHazardRate:
          type: string
        substanceConcentration:
          type: string

        productBrand:
          $ref: '#/components/schemas/BrandInfo'

        registrationInfo:
          $ref: '#/components/schemas/RegistrationInfo'

        cultures:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapper'

        soil:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapper'

        weeds:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapperForGrowthPhases'

        pests:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapperForGrowthPhases'

        diseases:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapperForGrowthPhases'

        purposes:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapper'

        alsoBoughtWithThisProduct:
          type: array
          items:
            $ref: '#/components/schemas/GenericWrapper'

        childProducts:
          type: array
          items:
            $ref: '#/components/schemas/ChildProduct'

        seedInfo:
          $ref: '#/components/schemas/SeedCharacteristics'

        pesticideInfo:
          $ref: '#/components/schemas/PesticideCharacteristics'

        fertilizerInfo:
          $ref: '#/components/schemas/FertilizerCharacteristics'

        fuelInfo:
          $ref: '#/components/schemas/FuelCharacteristics'

        usagePrecautions:
          $ref: '#/components/schemas/UsagePrecautionsInfo'

    GenericWrapper:
      type: object
      properties:
        name:
          type: string
        externalId:
          type: string

    GenericWrapperForGrowthPhases:
      type: object
      properties:
        name:
          type: string
        externalId:
          type: string
        resistanceLevel:
          type: string

    BrandInfo:
      type: object
      properties:
        name:
          type: string
        externalId:
          type: string
        country:
          type: string

    RegistrationInfo:
      type: object
      properties:
        applicant:
          $ref: '#/components/schemas/GenericWrapper'
        owner:
          $ref: '#/components/schemas/GenericWrapper'
        applicationNumber:
          type: string
        applicationSeries:
          type: string
        registrationYear:
          type: string
        documentExpirationDate:
          type: string
          format: date

    UsagePrecautionsInfo:
      type: object
      properties:
        USAID:
          type: boolean
        hazardClass:
          type: string
        recommendationForUse:
          type: string
        beesHazardClass:
          type: string
        beesRecommendationForUse:
          type: string
        cargoGroup:
          type: string
        disposalRecommendations:
          type: string
        prohibitedUse:
          type: string

    ChildProduct:
      type: object
      properties:
        active:
          type: boolean
        name:
          type: string
        currencyPrice:
          type: number
          format: double
        lowerCurrencyPrice:
          type: number
          format: double
        exchangeIndex:
          type: number
          format: double
        volume:
          type: number
          format: double
        containerForm:
          type: string
        containerType:
          type: string
        productCurrency:
          type: string
        productExternalId:
          type: string
        warehouseStatus:
          type: string
        tbc:
          type: boolean
        vat:
          type: number
          format: double
        country:
          type: string
